<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add To Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <form [formGroup]="coinForm" (ngSubmit)="submitForm()">
    <ion-item>
    <ion-label>Coin</ion-label>
    <ionic-selectable formControlName="name" item-content [(ngModel)]="coinName" itemValueField="ticker" itemTextField="displayName" [items]="coinNames" [canSearch]="true"
    (onChange)="coinChange($event)">
   </ionic-selectable>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Quantity Purchased:</ion-label>
    <ion-input formControlName="quantity" type="number" value={quantityPurchased} ref={quantityPurchasedRef}></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Cost Per Coin:</ion-label>
    <ion-input formControlName="perCoinPurchasePrice" type="number" value={perCoinPurchasePrice} ref={perCoinPurchasePriceRef}></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Total Cost:</ion-label>
    <ion-input formControlName="totalPurchasePrice" type="number" value={totalPurchasePrice} ref={totalPurchasePriceRef}></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label position="floating">Transaction Fees:</ion-label>
    <ion-input formControlName="transactionFees" type="number" value={transactionFees} ref={transactionFeesRef}></ion-input>
  </ion-item> -->
  </form>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" [disabled]="coinForm.invalid" (click)="submitForm()">Add</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button fill="solid" color="danger" expand="block" (click)="clearAllInputs()">Clear</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item-divider></ion-item-divider>
  
  <!-- <ion-button expand="block" (click)="presentToast()">Done</ion-button> -->

</ion-content>
