<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <ion-refresher slot="fixed" onIonRefresh={doRefresh}>
    <ion-refresher-content>Updating rates...</ion-refresher-content>
  </ion-refresher> -->
  
  <value-header [totalValue] = totalValue [totalProfit]=totalProfit [currencySymbol]=currencySymbol></value-header>
  
  <div ngFor *ngFor="let coin of heldCoins; let index = index">
    <p id="header" *ngIf="!heldCoins[index-1] || coin.name.displayName !== heldCoins[index-1].name.displayName">
      <ion-icon name="icon" size=large src="/assets/icon/bitcoin.svg"></ion-icon>
      {{ coin.name.displayName }}
    </p>
    
    <ion-item-sliding>
      <ion-item>
        <p id="quantity">{{ coin.quantity }}</p>
        <p>{{ currencySymbol }}{{ coin.purchaseDetails.price }}</p>
        <p>{{ coin.value.currentValue }}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="callDeleteMethod(coin)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="infoPopup(coin)">Info</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <footer *ngIf="!heldCoins[index+1] || coin.name.displayName !== heldCoins[index+1].name.displayName">
      Total {{coin.name.displayName}} profit: <value-footer [ticker]=coin.name.ticker></value-footer>
    </footer>
  </div>

</ion-content>
