p {
    padding-left: 10px;
}
#quantity {
    border-radius: 5px;
    min-width: 50px;
    background-color: lightblue;
    //color: black;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}
#header {
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 5px;
    //vertical-align: middle;
    background-color: rgb(26, 26, 26);
}
#icon {
    margin-left: 10px;
}