<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total profit:</ion-card-subtitle>
      <ion-card-title>12345</ion-card-title>
    </ion-card-header>
  </ion-card>

  <p>Profit: {{ 5 | profitFormat}} </p>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/add-coin']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
