<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider></ion-item-divider>

  <ion-item>
    <ion-label>App Currency:</ion-label>
    <ion-select (ionChange)="updateSelectedCurrency($event.target.value)" [value]="currency"> 
      <ion-select-option value='0'>Euro</ion-select-option> <!-- Had to make these strings instead of numbers, as selection was not working otherwise. But now enum getting returned as string instead of int-->
      <ion-select-option value='1'>US Dollar</ion-select-option> <!-- https://stackoverflow.com/questions/51851708/ionic-4-ionic-select-is-not-selected-if-the-model-is-a-number -->
      <ion-select-option value='2'>Australian Dollar</ion-select-option>
      <ion-select-option value='3'>New Zealand Dollar</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Sort Mode:</ion-label>
    <ion-select (ionChange)="updateSelectedSortMode($event.target.value)" [value]="sortModeString">
      <ion-select-option value='DEFAULT'>Default</ion-select-option>
      <ion-select-option value='ALPHABETICAL'>Alphabetical</ion-select-option>
      <ion-select-option value='VALUE'>Value</ion-select-option>
    </ion-select>
  </ion-item> 

  <ion-item>
    <ion-label>Exchange rate last updated:</ion-label>
    {{ratesLastUpdateDate$ | async | date: 'short'}}
  </ion-item>

  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle id="themeToggle"></ion-toggle>
  </ion-item>

  <ion-item (click)="convertToCSV()">
    <ion-label>
      Export CSV (Under Development)
    </ion-label>
  </ion-item>

  <ion-item href="mailto:paulfaa@protonmail.com">
    <ion-label>
      Feedback / Suggestions
    </ion-label>
  </ion-item>

  <ion-item href="http://www.google.com/">
    <ion-label>
      Remove Ads
    </ion-label>
  </ion-item>

  <ion-item>

  </ion-item>

  <ion-item (click)="showDeleteAlert()" id="deleteButton">
    <ion-label>
      Clear All Data
    </ion-label>
  </ion-item>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center" size="small">Version 1.00 </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
