<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider></ion-item-divider>

  <ion-item>
    <ion-label>App Currency:</ion-label>
    <ion-select (ionChange)="callSetCurrency($event.target.value)" [value]="callGetCurrency()">
      <ion-select-option value='EUR'>Euro</ion-select-option>
      <ion-select-option value='USD'>US Dollar</ion-select-option>
      <ion-select-option value='AUD'>Australian Dollar</ion-select-option>
      <ion-select-option value='NZD'>New Zealand Dollar</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Exchange rate last updated:</ion-label>
    {{ratesLastUpdateDate | async | date: 'short'}}
  </ion-item>

  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle id="themeToggle"></ion-toggle>
  </ion-item>

  <ion-item (click)="convertToCSV()">
    <ion-label>
      Export CSV (Under Development)
    </ion-label>
  </ion-item>

  <ion-item href="mailto:paulfaa@protonmail.com">
    <ion-label>
      Feedback / Suggestions
    </ion-label>
  </ion-item>

  <ion-item href="http://www.google.com/">
    <ion-label>
      Remove Ads
    </ion-label>
  </ion-item>

  <ion-item>

  </ion-item>

  <ion-item (click)="showDeleteAlert()" id="deleteButton">
    <ion-label>
      Clear All Data
    </ion-label>
  </ion-item>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center" size="small">Version 1.00 </ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
